{% extends 'layout.html.twig' %}
{% block title 'Access Denied' %}
{% block nav %}
    <div style="float: left">
        <img class="d-none d-md-block" src="{{ asset('images/logo.jpg') }}" style="width: auto; height: 100px" id="logo"></a>
    </div>
    <div style="float: left">
        <img class="d-block d-md-none" src="{{ asset('images/logo.jpg') }}" style="width: auto; height: 70px" id="logo"></a>
    </div>
{% endblock %}
{% block main %}
<div style="margin-top: 100px">
    <div class="container">
            <div class="form-group">
                <h1> Accès refusé</h1>
            </div>
        {% if app.user %}
        <a class="btn btn-primary float" href="{{ path('sortie_index') }}">Retour à l'accueil</a>
        {% else %}
        <a class="btn btn-primary float" href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
    </div>
</div>
{% endblock %}
