{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Add participant !</h2>


    {# todo: afficher le formulaire#}
{% endblock %}

{% block title %} Add partecipant! | {{ parent () }}{% endblock %}