{% extends 'layout.html.twig' %}

{% block title %}Edit Participant{% endblock %}

    {% block main %}
        <div class="d-none d-md-block">
            <h3 class="m-4 text-center">Mon profil</h3>
            <div class="flex-column">
                <div class="text-left image-profil">
                    {{ include('participant/_image_profil.html.twig') }}
                </div>
                <div>
                    {{ include('participant/_form.html.twig') }}
                </div>
                <div class="text-center mt-2">
                    <a class="btn btn-primary float" href="{{ path('sortie_index') }}">Enregistrer</a>
                    <a class="btn btn-primary float ml-4" href="{{ path('sortie_index') }}">Annuler</a>
                </div>
            </div>
        </div>

    {% endblock %}