{% extends 'layout.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block main %}
    <div class="d-none d-md-block">
        <h3 class="text-center mb-5">Créer un participant</h3>

        {{ include('participant/_form.html.twig') }}

        <div class="d-flex flex-row justify-content-center">
        <a class="btn btn-primary float" href="{{ path('importCSV') }}">Importer CSV</a>
        <a class="btn btn-primary float ml-4" href="{{ path('sortie_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}