{% extends 'layout.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block main %}
    <div class="d-none d-md-block">
        <h3 class="text-center mb-5">Créer un participant</h3>

        {% include 'participant/_form.html.twig' %}

    </div>
{% endblock %}