{% extends 'layout.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block main %}
    <div class="d-none d-md-block">
        <h3 class="text-center mb-5">Créer un participant</h3>


        {% embed 'participant/_form.html.twig' %}
            {% block buttons %}
        <button type="submit" class="btn btn-primary float ml-4">Ajouter</button>
        <a class="btn btn-primary float ml-4" href="{{ path('importCSV') }}">Importer CSV</a>
                <a class="btn btn-primary float ml-4" href="{{ path('participant_index') }}">Retour</a>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}