{% extends 'layout.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block main %}
    <h1>Créer un participant</h1>

    {{ include('participant/_form.html.twig') }}

    <a class="btn btn-primary float" href="{{ path('importCSV') }}">Import CSV</a>
    <a href="{{ path('sortie_index') }}">back to list</a>
{% endblock %}