<div class="container">
    {{ form_start(form, {'attr': {'id': 'campus_id'}}) }}
    <td>
        {{ form_row(form.nom) }}
    </td>

    <td class="align-content-center">
        <button class="btn btn-primary float">{{ button_label|default('Ajouter') }}</button>
    </td>
    {{ form_end(form) }}

</div>
