.inner-form-col
{

    justify-content: space-between;
}

.inner-form-col
{
    padding-right: 30px;
    padding-left: 30px;
}

nav > a {
    margin-left: 20px;
    margin-right: 20px;
}

#maRecherche {
    border: 2px solid black;
    border-radius: 15px;
}

th{
    background-color:#6c757d;
}

#btn-maRecherche{
    box-shadow: 5px 5px grey;
}
body{
    height: 100%;
}
header{
    height: 10%;
}
nav{
    height: 5%;
}
main{
    height: 80%;
    grid-area: auto;
    display: block;
    overflow: auto;

}

footer{
    height: 5%;
    text-align: center;
    font-size: small;
}

#form-line, #form-campus, #form-ville, #ville-form-line{
    height: 1rem;
    margin: 0;
    vertical-align: center;
}

.table td{
    vertical-align: center !important;
}