.inner-form-col
{
    justify-content: space-between;
}

.inner-form-col
{
    padding-right: 30px;
    padding-left: 30px;
}

nav > a {
    margin-left: 20px;
    margin-right: 20px;
}

#maRecherche {
    border: 2px solid black;
    border-radius: 15px;
}

th{
    background-color:#6c757d;
}

#btn-maRecherche{
    box-shadow: 5px 5px grey;
}


footer{
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

#form-line, #form-campus, #form-ville, #ville-form-line{
    height: 1rem;
    margin: 0;
    vertical-align: center;
}

.table{
    justify-content: center!important;
}

.sortir-attribut{
    font-weight: bold;
}

#photoURL{
    text-decoration: none;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;          /*50px = une ligne*/
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-scroll > thead th {
position: sticky; top: 0;
}

.table-scroll-liste-participants {
    width: 300px;
}


.table-scroll-liste-participants > thead th {
    position: sticky; top: 0;
    width: 300px;
}
.hidden-row {
    display:none;
}

