<form method="post" action="{{ path('ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ville ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <button class="btn btn-primary float ml-4">Supprimer</button>
</form>
