{{ form_start(form, {'attr': {'id': 'ville_id'}}) }}
<div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column mr-4 col-3">
        <td>
            <div>{{ form_row(form.nom) }}</div>
        </td>
        <td>
            <div>{{ form_row(form.codePostal) }}</div>
        </td>
        <td>
            <div class="text-center">
                {% block buttons %}
                {% endblock %}
            </div>
        </td>
    </div>
</div>
{{ form_end(form) }}