{% extends 'layout.html.twig' %}

{% block title %}Modifier la Ville{% endblock %}

{% block main %}
    <h3 class="text-center">Modifier la Ville</h3>
    <div>
        <div class="row m-4">
            {{ include('ville/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
        <div class="m-4">
            <a href="{{ path('ville_index') }}" class="btn btn-primary float">Retourner</a>
        </div>
    </div>
{% endblock %}