{% extends 'layout.html.twig' %}

{% block title %}Modifier la ville{% endblock %}

{% block main %}
    <div class="flex-column">
        <h3 class="m-4 text-center">Modifier la ville</h3>
        {% embed 'ville/_form.html.twig' %}
            {% block buttons %}
                <button type="submit" class="btn btn-primary float ml-4">Modifier</button>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}