<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
    <title>Title</title>
</head>
<body>
    <header>
        <div>
            <h1>Logo Sortir.com</h1>
        </div>
    </header>
    <nav>
        {% block nav %}
        {% endblock %}
    </nav>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
