<a href="{{ path('ville_index') }}">Villes</a>
<a href="{{ path('campus_index') }}">Campus</a>
<a href="{{ path('sortie_index') }}">Accueil</a>
<a>Mon Profil</a>
<a href="{{ path('app_logout')}}">Se déconnecter</a>