{% extends 'layout.html.twig' %}

{% block title %}ImportCsv{% endblock %}

{% block main %}
    <div class="container-fluid w-25">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary float">Charger</button>
        {{ form_end(form) }}
    </div>

{% endblock %}