{% extends 'layout.html.twig' %}

{% block title %}ImportCsv{% endblock %}

{% block main %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary float">Send</button>
    {{ form_end(form) }}

{% endblock %}