{% extends 'layout.html.twig' %}

{% block nav %}
    <div>
        Villes
        Campus
        Accueil
        Mon profil
        Se déconnecter
    </div>
{% endblock %}

{% block main %}
    Test Home
{% endblock %}